body {
    height: 100%;
    font-size: 13px !important;
    font-family: Verdana, Geneva, sans-serif !important;
}

#formpaymode .input-group .form-control {
    width: 65%;
}

.table {
    display: -webkit-inline-box;
}

#formpaytble table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#formpaytble td, th {
    border: 1px solid #e8e8e8;
    text-align: left;
    padding: 8px;
}

#formpaytble {
    width: 67%;
}

table#formpaytble tr td:first-child {
    font-size: 13px;
    font-weight: 600;
}

table#formpaytble tr:nth-child(even) {
    background-color: #9e9e9e2b;
}

.ui-menu {
    height: 300px;
    overflow: auto;
}

#dailyrptwrpr {
    background-color: #f6f7f8;
}

.titlnew {
    font-weight: 700 !important;
    font-size: 15px !important;
    color: #c81c05;
    text-transform: capitalize;
}

.box-header.with-border.bginfo {
    border: 1px solid #e8e8e8;
    background-color: #9e9e9e2b;
}

.box-body .tbloverflow {
    max-height: 360px;
    overflow-y: auto;
}

.sidetoggle:hover, .sidetoggle:active, .sidetoggle:focus {
    background-color: #ae1308;
    color: #fff !important;
}

.titlnew {
    font-weight: 700 !important;
    font-size: 15px !important;
    color: #c81c05;
}

.totlpaymt {
    float: right;
    font-size: 14px !important;
    text-transform: capitalize;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
    background: #f5f5f5;
}

.box.box-primary {
    border-top-color: #ddd !important;
    border: 1px solid #ddd;
}

.box-header.with-border {
    border-bottom: 1px solid #ddd !important;
    text-transform: uppercase;
    color: #3e4140;
    padding-left: 10px;
}

.box-header .box-title {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.skin-green .sidebar a {
    color: #b8c7ce;
    font-size: 14px !important;
}

.table > thead:first-child > tr:first-child > th {
    border-top: 0;
    background: linear-gradient(to bottom, #fdfdfd 0%, #ececec 100%);
    font-size: 13px;
    text-transform: capitalize;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f7f7f7;
}

.box-title {
    font-size: 16px;
}

.box.box-info {
    border-top-color: #9e9e9e63 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Verdana, Geneva, sans-serif !important;
}

.skin-green-light .sidebar-menu > li > a {
    border-left: 3px solid transparent;
    font-weight: normal !important;
    font-size: 14px !important;
}

label {
    font-weight: normal !important;
}

#adspace .addspace {
    margin-bottom: 45px;
}

.overflowpoprty {
    overflow: auto;
}

.table > tbody > tr > th {
    border-top: 0;
    background: linear-gradient(to bottom, #fdfdfd 0%, #ececec 100%);
    font-size: 13px;
    text-transform: capitalize;
}

.btn-success {
    width: auto;
}

.btn-info {
    width: auto;
}

.table > thead > tr > th {
    vertical-align: top !important;
}

.logincss .signoutcls {
    background-color: transparent;
    border: transparent;
}

.logincss .phnicon {
    padding: 0px 5px 0px 1px;
    font-size: 14px;
}

.skin-green-light .sidebar-menu .treeview-menu > li.active > a {
    font-weight: normal !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e5eff0 !important;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f7f7f7;
}

.logo1 {
    color: #29166f;
    font-size: 27px;
    font-weight: 900;
}

.logo2 {
    font-size: 27px;
    font-weight: 900;
    color: #df4c18;
}

.sidetoggle {
    color: #fff;
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
}

.sectors {
    min-width: 200px;
    color: #4d4847;
    font-size: 13px !important;
    font-family: Verdana, Geneva, sans-serif !important;
}

.box-header .box-title {
    font-size: 18px ;
}

.btn-success {
    background-color: #00a65a;
    border-color: #008d4c;
    width: auto !important;
}

titlnew {
    font-weight: 700 !important;
    font-size: 15px !important;
    color: #c81c05;
}

.box-header.with-border.bginfo {
    border: 1px solid #e8e8e8;
    background-color: #9e9e9e2b;
}

.totlpaymt {
    /* float: right; */
    font-size: 13px !important;
    text-transform: capitalize;
}

.skin-red .sidebar-menu .treeview-menu > li > a {
    color: #8aa4af;
    white-space: normal;
}

.skin-red-light .sidebar-menu > li:hover > a, .skin-red-light .sidebar-menu > li.active > a {
    color: #000 !important;
    background: #f4f4f5 !important;
}

.skin-red-light .sidebar-menu > li > a {
    font-size: 14px;
}

.skin-red-light .sidebar-menu .treeview-menu > li.active > a {
    font-weight: normal !important;
}



@-moz-document url-prefix() {
    #sg1 label {
        display: inline-grid;
    }
}



#adspace .addspace {
    margin-bottom: 10px;
}

.skin-purple-light .sidebar-menu > li > a {
    border-left: 3px solid transparent;
    font-weight: normal !important;
    font-size: 14px !important;
}

.skin-purple-light .main-header .navbar .sidebar-toggle:hover {
    background-color: #d73925 !important;
}

.logo-mini.logo-text {
    color: #2456a5 !important;
}

.skin-purple-light .sidebar-menu .treeview-menu > li.active > a {
    font-weight: normal !important;
}

.total-amount {
    font-weight: bold;
    border: #327ab7 2px solid;
    text-align: right;
}


@media(max-width:767px) {
    .content {
        margin-top: 125px !important;
    }

    .main-sidebar {
        top: 135px !important;
    }

    .main-header .logo {
        position: relative !important;
    }

    .skin-purple-light .main-header .logo {
        background-color: #eae6e6 !important;
        border-right: none !important;
    }
}

.radiostyl .radio {
    padding: 9px;
}
.sectors {
    font-weight: normal!important;
}
#DoxTable input {
    width: 80px;
    font-size: 12px;
}
.titlnewgreen {
    font-weight: 700 !important;
    font-size: 15px !important;
    color: #047730;
}