<!DOCTYPE HTML>
<meta charset="utf-8">
<html>

<head>
    <style>
        .chart {
            border: 3px solid royalblue;
        }
    </style>
</head>


<body>

    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Cashcounter Daily Sales Chart</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <canvas id="myChart1" class="chart" width="400" height="200"></canvas>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0-rc.1/Chart.bundle.js"></script>
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>


                <script>
                 var result = @Html.Raw(ViewBag.DataPoints);
        var dps =[];
        for (var i = 0; i < result.length; i++){

            dps.push({ "x": new Date(result[i].year, result[i].month - 1, result[i].day).toLocaleString('en-us', { day: 'numeric', month: 'short', year: "numeric" }), "y": result[i].netamount });  }

        console.log(dps);
                var timeFormat = 'moment.ISO_8601';
                var lineChart = document.getElementById('myChart1').getContext('2d');

                var config = {
                    type: 'line',
                    data: {
                        datasets: [

                            {
                                label: "Total Sale",
                                backgroundColor: 'lightblue',
                                borderColor: 'royalblue',
                                pointStyle: 'circle',
                                //pointRadius: 5,
                                //pointHoverRadius: 10,
                                tension: 0.4,
                                data: dps,


                            }
                        ]
                    },
                    options: {
                        animations: {
                            tension: {
                                duration: 1200,
                                easing: 'linear',
                                from: 1,
                                to: 0,
                                loop: true
                            }
                        },
                        legend: {
                            display: true,
                            labels: {
                                usePointStyle: true,
                            },
                            onClick: () => { }, // disable legend onClick functionality that filters datasets
                        },
                        responsive: true,
                        title: {
                            display: true,
                            text: "Month Vs Total Sale"
                        },
                        //elements: {
                        //    point: {
                        //        radius: 0,
                        //        hitRadius: 5,
                        //        hoverRadius: 3,
                        //    },
                        //},
                        scales: {
                            xAxes: [{
                                type: "time",
                                time: {
                                    displayFormats: {

                                       'month': 'MMM DD',
                                        'year': 'MMM DD'
                                    }
                                },

                                scaleLabel: {
                                    display: true,
                                    labelString: 'Date'
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Total Billed(₹)'
                                }
                            }]
                        },

                    }
                };

                var myLineChart = new Chart(lineChart, config);
                </script>
            </div>
        </div>
    </div>
</body>
</html>   