
@{
    ViewBag.Title = "importTextFile";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">

                    <div class="box-header with-border">
                        <h4>Import From Text</h4>
                    </div><!-- /.box-header -->
                    <div class="form-horizontal">
                        <div class="box-body" style="text-align:center" >
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @using (Html.BeginForm("importTextFile", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <label class="">Upload Text or Csv  File </label>
                                            <div class="">
                                                <input id="File1" type="file" name="ImportText" style=" margin: 10px 42.3%;" />
                                            </div>
                                            <div class="">
                                                <input type="submit" class="btn btn-success" value="Upload" />
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
  
