@model DtDc_Billing.Models.userDetailsModel

@using (Ajax.BeginForm("PaymentSuccess", "Admin", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "frmEmp", OnSuccess = "createsuccess" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <!-- pricing section start -->
    <div class="pricing bg-img" id="plan" data-background="/Content/assets/images/pricing/pricing-bg.png">
        <div class="container">


            <div class="pricing__area">
                <div class="choice__title">
                    @if (TempData["msg"] != null)
                    {
                        <div class="alert alert-success">
                            <strong>Success!</strong> @TempData["msg"]
                        </div>
                    }
                    else if (TempData["error"] != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Error!</strong> @TempData["error"]
                        </div>
                    }
                    <h6 class="text-center wow animate__animated animate__fadeInUp" data-wow-delay="0.1s">Our Plans</h6>
                    <h2 class="text-center wow animate__animated animate__fadeInUp">Mosto Plans for Everyone</h2>
                    <p class="text-center wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                    <p>
                        <b>Payment successful!</b> enjoy services
                        dolor sit amet, consectetur adipiscing elit. Quisque tristique
                        tincidunt arcu.
                    </p>
            </div>
                <div class="row">
                    <input type="submit" value="Login" class="btn btn-primary">
                </div>
        </div>
    </div>
</div>


}



