
@{
    ViewBag.Title = "UpdateCompanyId";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>UpdateCompanyId</h2>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-sm-12">

            <div class="form-group control-label col-md-2">
                <label>Current companyid</label>
            </div>
            <div class="col-md-3 ">
                <input type="text" name="Currentcompanyid" class="form-control">

            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group control-label col-md-2">
                <label>New companyid</label>
            </div>
            <div class="col-md-3 ">
                <input type="text" name="Newcompanyid" class="form-control">

            </div>
        </div>

        <input type="submit" value="submit"/>
        </div>
}

@if(TempData["error"]!= null)
{
     <script>
         alert('@TempData["error"]');
     </script>
}